@tailwind base;
@tailwind components;
@tailwind utilities;

@import "mapbox-gl/dist/mapbox-gl.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#__next {
  width: 100%;
  height: 100%;
}
